

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-4 col-sm-offset-4">
  <h2 style="text-align: center;">Sign up</h2>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: 'Email', placeholder: 'e.g., brigitte.macron@gmail.com' %>
    <%= f.input :password, required: true, label: 'Password', placeholder: 'e.g., ••••••' %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm password' %>
  </div>
  <div class="form-actions button-sign-up">
    <%= f.button :submit, "Sign up" %>
  </div>
    <div class="log-in-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

