

<div class="col-xs-12 remove-padding">
<h1 class="page-title"> All my activities for my trip to <%=@trip.city.name %></h1>

<!-- Tab links -->
  <div class="tab trip-activities-tabs-container">
    <div class="tabs-wrapper">
      <button class="tablinks active" onclick="openCity(event, 'trip-activities-list')">List</button>
      <button class="tablinks" onclick="openCity(event, 'trip-activities-map')">Map</button>
    </div>
  </div>

<!-- Tab content -->
  <div id="trip-activities-list" class="tabcontent">
    <div class="container-trip-activities-list">
    <% @trip_activities.visited.each do |trip_activity| %>
      <div class="trip-activities-card">
        <div id=""><%= link_to not_visited_path(trip_activity), method: :patch do %>
          <div class="mark-list-done">
          <img src="https://res.cloudinary.com/dp9rm52pu/image/upload/v1522138790/noun_149010_cc.png" alt="">
          </div>
        <% end %>
        </div>
          <% list_image = cl_image_path trip_activity.activity.category.icon, height: 30, width: 30, crop: :fill%>
          <div class="list-image" >
            <img src="<%= list_image %>" alt="">
          </div>
          <div class="activity-list">
            <li id="activity-list-name"><%= trip_activity.activity.name %></li>
            <li id="activity-list-duration"><%= trip_activity.activity.duration %> min</li>
          </div>
      </div>
    <% end %>

    <% @trip_activities.not_visited.each do |trip_activity| %>
      <div class="trip-activities-card">
        <div id=""><%= link_to visited_path(trip_activity), method: :patch do %>
          <div class="mark-list"></div>
        <% end %>
        </div>
        <% list_image = cl_image_path trip_activity.activity.category.icon, height: 30, width: 30, crop: :fill%>
        <div class="list-image" >
          <img src="<%= list_image %>" alt="">
        </div>
        <div class="activity-list">
          <li id="activity-list-name"><%= trip_activity.activity.name %></li>
          <li id="activity-list-duration"><%= trip_activity.activity.duration %> min</li>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div id="trip-activities-map" class="tabcontent" style="display:none;">
  <div
  id="map"
  style="width: 100%;
  height: 300px;margin-top: 20px;"
  data-markers="<%= @markers.to_json %>"
></div>

  </div>

</div>

<script>
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    if (cityName == 'trip-activities-map') {
      const theMap = document.getElementById('map');
      theMap.style.width = '100%';
      theMap.style.height = '500px';
    }
    evt.currentTarget.className += " active";
}
</script>

