<h1> All my activities for <%=@trip.city.name %></h1>

<ul>
  <% @trip_activities.visited.each do |trip_activity| %>
    <li> <%= trip_activity.activity.name %> | <%= link_to "Undo", not_visited_path(trip_activity), method: :patch %>
    </li>
  <% end %>

  <% @trip_activities.not_visited.each do |trip_activity| %>
    <li> <%= trip_activity.activity.name %> | <%= link_to "Done", visited_path(trip_activity), method: :patch %>
    </li>
  <% end %>
</ul>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
></div>