
<div class="col-sm-12 col-sm-offset-4 remove-padding">
<div class="page-title"> All my activities for my trip to <%=@trip.city.name %></div>
  <% @trip_activities.visited.each do |trip_activity| %>
    <div class="trip-activities-card">
    <% list_image = cl_image_path trip_activity.activity.photo, height: 50, width: 50, crop: :fill%>
      <div class="list-image" style="background-image: url('<%= list_image %>');"></div>
      <div class="activity-list">
        <li id="activity-list-name"><%= trip_activity.activity.name %></li>
        <li id="activity-list-duration"><%= trip_activity.activity.duration %> min</li>
        <li id="activity-link-to"><%= link_to not_visited_path(trip_activity), method: :patch do %>
          <i class="fa fa-check-square"></i>
          <% end %>
        </li>
      </div>
    </div>
  <% end %>

  <% @trip_activities.not_visited.each do |trip_activity| %>
    <div class="trip-activities-card">
    <% list_image = cl_image_path trip_activity.activity.photo, height: 50, width: 50, crop: :fill%>
      <div class="list-image" style="background-image: url('<%= list_image %>');"></div>
      <div class="activity-list">
        <li id="activity-list-name"><%= trip_activity.activity.name %></li>
        <li id="activity-list-duration"><%= trip_activity.activity.duration %> min</li>
        <li id="activity-link-to"><%= link_to visited_path(trip_activity), method: :patch do %>
          <i class="fa fa-square"></i>
          <% end %>
        </li>
      </div>
    </div>

  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"

></div>

