<div class="wrapper-header">
  <div class="header">
    <h1 class="page-title">Select your activities</h1>
  </div>
</div>
<div class="container-trip-activities">
<%= simple_form_for [@trip, @trip_activity] do |f| %>
  <div class="form-group check_boxes required trip_activity_activity" style="height: 390px;">
    <label class="control-label check_boxes required">
      <abbr title="required"></abbr>
    </label>
    <input name="trip_activity[activity_id][]" value="" type="hidden">
    <div class="wrapper-card-container">
      <div class="wrapper-cards">
      <% @activities.shuffle.each do |activity| %>
        <span class="checkbox">
        <label for="trip_activity_activity_id_<%= activity.id %>">
          <input class="check_boxes required" value="<%= activity.id %>" name="trip_activity[activity_id][]" id="trip_activity_activity_id_<%= activity.id %>" type="checkbox" style="display: none;"> <%=  render "shared/card", activity: activity %>
        </label>
      </span>
      <% end %>
      </div>
    </div>
  </div>
  <div class="margin_left">
    <%= f.submit "SEE MY ITINERARY", class: "btn-cta" %>
  </div>
</div>
<%   end %>
