<p class="page-title" style="margin-top: 10px; margin-bottom: 0px;line-height: 1.2;">Please select activities you would like to do in <%= @city.name %></p>
<div class="container-trip-activities" style="text-align: center;">
<%= simple_form_for [@trip, @trip_activity] do |f| %>
  <div class="form-group check_boxes required trip_activity_activity" style="height: 390px;">
    <label class="control-label check_boxes required">
      <abbr title="required"></abbr>
    </label>
    <input name="trip_activity[activity_id][]" value="" type="hidden">
    <div class="wrapper-card-container">
      <div class="wrapper-cards">
      <% @activities.shuffle.each do |activity| %>
        <span class="checkbox">
        <label for="trip_activity_activity_id_<%= activity.id %>">
          <input class="check_boxes required" value="<%= activity.id %>" name="trip_activity[activity_id][]" id="trip_activity_activity_id_<%= activity.id %>" type="checkbox"> <%=  render "shared/card", activity: activity %>
        </label>
      </span>
      <% end %>
      </div>
    </div>
  </div>
  <%= f.submit "SEE MY ITINERARY", class: "btn-cta" %>
</div>
<%   end %>
</div>
