<div class="footer">

  <% if params[:action] == "profile" %>
    <%= link_to profile_path, {class: "footer-tab active"} do %>
      <i class="fa fa-user" style="font-size:25px"></i>
      <p>PROFIL</p>
    <% end %>
  <% else %>
    <%= link_to profile_path, {class: "footer-tab"} do %>
      <i class="fa fa-user" style="font-size:25px"></i>
      <p>PROFIL</p>
    <% end %>
  <% end %>

<% if params[:action] == "home" %>
    <%= link_to root_path, {class: "footer-tab active"} do %>
      <i class="fa fa-search" style="font-size:25px"></i>
      <p>EXPLORE</p>
    <% end %>
  <% else %>
    <%= link_to root_path, {class: "footer-tab"} do %>
      <i class="fa fa-search" style="font-size:25px"></i>
      <p>EXPLORE</p>
  <% end %>
<% end %>

<% if params[:controller] == "trips" || params[:controller] == "trip_activities" %>
    <%= link_to trips_path, {class: "footer-tab active"} do %>
      <i class="fa fa-globe" style="font-size:25px"></i>
      <p>MY TRIPS</p>
    <% end %>
  <% else %>
    <%= link_to trips_path, {class: "footer-tab"} do %>
      <i class="fa fa-globe" style="font-size:25px"></i>
      <p>MY TRIPS</p>
    <% end %>
<% end %>


<%if params[:action] == "gogo" || params[:action] == "choice_trip" %>
  <a href="#" class="footer-tab active" id="go-now">
    <i class="fa fa-map" style="font-size:25px"></i>
    <p>GO NOW</p>
  </a>
  <% else %>
  <a href="#" class="footer-tab" id="go-now">
    <i class="fa fa-map" style="font-size:25px"></i>
    <p>GO NOW</p>
  </a>
<% end %>

</div>

