
<div class="home-background col-xs-12 col-xs-offset-4">

<!-- <h2> Your current GPS coordinates</h2> -->
<form action="<%= trips_path %>" method="POST" id="geoloc">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="longitude" id="longitude">
  <input type="hidden" name="latitude" id="latitude">
</form>


<div class="home-banner">
    <span class="page-title">Plan your next city trip</span>

<% @trip = Trip.new %>
<%= simple_form_for @trip do |f| %>
  <div class="form-group radio_buttons required trip_city">
    <label class="control-label radio_buttons required">
      <abbr title="required">*</abbr> City
    </label>
    <input type="hidden" name="trip[city_id]" value="">
     <div class="home-wrapper-cards">
        <% City.all.each do |city| %>
         <div class="preferences-card">
           <span class="radio">
             <label class="label" for="trip_city_id_<%= city.id %>">
               <input class="radio_buttons required" type="radio" value="<%= city.id %>" name="trip[city_id]" id="trip_city_id_<%= city.id %>">
               <%= render "cities/home_card", city: city %>
             </label>
           </span>
         </div>
        <% end %>
     </div>
      <div class="home-name-trip">
        <%= f.input :name, class: "name-trip", placeholder: "Name your trip", label: false %>
        <!-- <label for="starts_at">Select your dates</label> -->
        <div class="flex">
          <%= f.input :starts_at, as: :string, label: false, required: false, input_html: { class: "flatpicker", placeholder: "Trip start date" } %>
           <%= f.input :ends_at, as: :string, label: false, required: false, input_html: { class: "flatpicker", placeholder: "Trip end date" } %>
        </div>
        <%= f.submit "CREATE YOUR TRIP", class: "btn-cta" %>
      </div>
  </div>
<% end %>
</div>
</div>







