<div class="home-background">
  <div class="home-wrapper-cards">
    <% City.all.each do |city| %>
      <div class="home-card">
        <% photo_path = cl_image_path city.photo, height: 150, width: 200 %>
        <div class="home-card-banner" style="background-image: url('<%= photo_path %>');">

        </div>
        <div class="home-text-container">
          <div class="home-card-text">
            <%= city.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="home-banner"> <h2>Explorer une ville</h2>
<% @trip = Trip.new %>
<%= simple_form_for @trip do |f| %>
  <%= f.association :city, collection: City.order("name ASC") %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

<h2> What are your preferences when you travel ? </h2>

<%= render 'shared/card' %>

