<div class="home-background">
  <div>
  <h2>Explore a city</h2>
  </div>

  <div>
    <% if !current_user %>
      <h2><%= link_to "Sign in to use the app",  user_session_path %></h2>
    <% else %>
      <% if current_user.user_preferences == [] %>
        <h2><%= link_to "Tell us your preferences!", new_user_preference_path %></h2>
        <% end %>
    <% end %>
  </div>

  <div>
    <div class="home-wrapper-cards">
      <% City.all.each do |city| %>
        <div class="home-card">
          <% photo_path = cl_image_path city.photo, height: 150, width: 200, crop: :fill%>
          <div class="home-card-banner" style="background-image: url('<%= photo_path %>');">

          </div>
          <div class="home-text-container">
            <div class="home-card-text">
              <%= city.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- <h2> Your current GPS coordinates</h2> -->
<form action="<%= trips_path %>" method="POST" id="geoloc">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="longitude" id="longitude">
  <input type="hidden" name="latitude" id="latitude">
</form>


<div class="home-banner"> <h2>Explorer une ville</h2>
<% @trip = Trip.new %>
<%= simple_form_for @trip do |f| %>
  <%= f.association :city, collection: City.order("name ASC") %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

<div class="home-banner">
  <h2> What are your preferences when you travel ? </h2>
</div>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>


