<div class="home-background">

  <div>
    <% if !current_user %>
      <h2><%= link_to "Sign in to use the app",  user_session_path %></h2>
    <% end %>
  </div>


<!-- <h2> Your current GPS coordinates</h2> -->
<form action="<%= trips_path %>" method="POST" id="geoloc">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="longitude" id="longitude">
  <input type="hidden" name="latitude" id="latitude">
</form>


<div class="home-banner"> <h1>Create a trip </h1> <p>Choose your city</p>
<% @trip = Trip.new %>
<%= simple_form_for @trip do |f| %>
  <div class="form-group radio_buttons required trip_city">
    <label class="control-label radio_buttons required">
      <abbr title="required">*</abbr> City
    </label>
    <input type="hidden" name="trip[city_id]" value="">
     <div class="home-wrapper-cards">
        <% City.all.each do |city| %>
         <div class="home-card">
           <span class="radio">
             <label class="label" for="trip_city_id_<%= city.id %>">
               <input class="radio_buttons required" type="radio" value="<%= city.id %>" name="trip[city_id]" id="trip_city_id_<%= city.id %>">
               <%= render "cities/home_card", city: city %>
             </label>
           </span>
         </div>
        <% end %>
     </div>
      <div class="home-name-trip">
        <%= f.input :name %>
        <%= f.button :submit %>
        <p>hello</p>
      </div>
  </div>
<% end %>
</div>



<%= link_to "Sign out", destroy_user_session_path, method: :delete %>




