
<div class="container-profile">
  <h2> My profile </h2>
  <h4> <strong>  First name :</strong> <%= current_user.first_name %></h4>
  <h4> <strong>  Last name :</strong> <%= current_user.last_name %></h4>
  <h4> <strong>  Email :</strong> <%= current_user.email %></h4>
  <%= link_to "Change password", edit_user_password_path %>
  <div>
  <h2> My preferences </h2>
  <% @categories = current_user.categories  %>
  <ul><% @categories.each do |category|%>
    <li> <%= category.name %> </li>
  <% end %></ul>
</div>
 <%= link_to "Edit my preferences", new_profile_user_preference_path %>
</div>



